.slds-modal__container {
  max-width: 80rem !important;
  width: 60% !important;
}

.slds-modal__content {
  overflow: initial;
}

.tableScroll {
  overflow: auto;
  overflow-y: hidden;
  height: 30rem;
}
